.location-management-tabs #tabs-map.ui-tabs.ui-tabs-hide {
    display: block;
    visibility: hidden;
}
.block-mo-cms-leadership h2.block-title {
    display: none;
}
.field-name-field-mo-cms-contact-info-std .country {
    display: none;
} 
#suggest-a-trail {
    position: absolute;
    right: 8px;
    bottom: 30px;
}
